<div id="createNewTaskModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form action="/task" method="post">
                <div class="modal-header">
                    <h5 class="modal-title">Create new task</h5>
                </div>

                <div class="modal-body">
                    <div class="mb-3 form-floating">
                        <select class="form-select" id="formOutputType" name="output_method">
                            <option value="file">File</option>
                            <option value="video">Video</option>
                        </select>
                        <label for="formOutputType">Output type</label>
                    </div>

                    <div class="mb-3 form-floating">
                        <select class="form-select" id="formDetectionModel" name="detection_model">
                            <option value="efficientdet_d6">EfficientDet D6</option>
                            <option value="efficientdet_d5_adv_prop">EfficientDet D5 AdvProp</option>
                        </select>
                        <label for="formDetectionModel">Detection model</label>
                    </div>

                    <div class="mb-3 form-floating">
                        <select class="form-select" id="formTrackingModel" name="tracking_model">
                            <option value="simple_sort">Simple SORT</option>
                            <option value="deep_sort">Deep SORT</option>
                        </select>
                        <label for="formTrackingModel">Tracking model</label>
                    </div>

                    <div class="mb-3 form-floating">
                        <input type="text" class="form-control" id="formParameters" name="parameters" value="{}">
                        <label for="formParameters">Parameters</label>
                    </div>

                    <input type="hidden" name="source_file" id="1">
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

</script>
